.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    width: 100%;
    cursor: pointer;
    padding: 15px 0;
}

.deleteTask {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 3px 0;
}

.editTask {
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 3px 0;
}

.editBox {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.saveChanges{
    background-color: rgb(39, 199, 39);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 17px;
    padding: 13px 0;
    cursor: pointer;
}