.taskForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
}
.taskForm input {
    width: 100%;
}

.taskFormContent textarea {
    resize: none;
    padding: 0 2px;
    width: 100%;
}

.confirm {
    color: white;
    font-weight: bold;
    background-color: rgb(45, 153, 255);
    border: none;
    border-radius: 7px;
    padding: 10px 0;
    cursor: pointer;
}