.createTask {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bolder;
    color: white;
    background-color: #2f82ff;
    font-size: 2rem;
    display: grid;
    border: none;
    cursor: pointer;
}

.title {
    margin-bottom: 10px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
}

.btnOptions {
    margin-left: auto;
    border: none;
    background-color: transparent;
    display: grid;
    place-items: center;
    padding: 0 10px;
    font-size: 4px;
    cursor: pointer;
}

